#pragma once

// this file to be renamed to credentials.h and fill your values below

// ============================================================================
// WIFI NETWORK CREDENTIALS
// ============================================================================
#define CONFIG_ESP_WIFI_SSID        "YOUR_WIFI_SSID_HERE"
#define CONFIG_ESP_WIFI_PASSWORD    "YOUR_WIFI_PASSWORD_HERE"

// ============================================================================
// TARGET IP AND PORT FOR TELEMETRY
// ============================================================================
#define CONFIG_TARGET_IP            "192.168.0.100"
#define CONFIG_TARGET_PORT          9999